*
!.gitignore
!README.md
!update_manifest.json
!RELEASES/
!RELEASES/*.zip
!RELEASES/*.exe
!RELEASES/*.txt
!docs/
!docs/screenshots/
!docs/screenshots/*.png
!docs/screenshots/*.jpg
!docs/screenshots/*.jpeg
